@use './global' as banner;

.banner {
  background-color: #f5f0e9;
  width: 100%;
  position: relative;
  .slick-slider {
    overflow: hidden;
    .slick-track {
      .slider__wrapper {
        height: 84.5vh !important;
        position: relative;
        &:before {
          @include banner.transparentLayer;
        }
        img {
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover;
        }
        .content {
          position: absolute;
          top: 20%;
          left: 10%;
          z-index: 1;
          width: 100%;
          height: 100%;
          p {
            font-size: 16px;
            line-height: 26px;
            color: #ffffff;
            font-weight: 500;
            font-family: banner.$Barlow;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            position: relative;
          }
          h1 {
            margin: 35px 0 33px;
            font-size: 100px;
            line-height: 110px;
            color: banner.$white;
            font-family: banner.$Amatic;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0;
          }
          button {
            display: inline-block;
            border: none;
            outline: none;
            background-color: banner.$brand_two;
            font-size: 20px;
            color: banner.$black;
            font-weight: 600;
            font-family: banner.$Barlow;
            padding: 23px 50px;
            border-radius: 5px;
            transition: all 0.5s ease-in-out;
            &:hover {
              background-color: banner.$brand_one;
              color: banner.$white;
            }
          }
        }
      }
    }
  }
  .banner__buttons {
    position: absolute;
    bottom: 0px;
    right: 0;
    z-index: 2;
    button {
      width: 175px;
      height: 90px;
      border: 0;
      outline: none !important;
      text-align: center;
      border-radius: 0 !important;
      font-family: banner.$Barlow;
      font-weight: 700;
      letter-spacing: 4px;
      font-size: 12px;
      svg {
        font-size: 20px;
        margin: 0 5px;
        margin-top: -3px;
      }
    }
    .btn1 {
      background-color: banner.$black;
      color: banner.$white;
      &.active {
        background-color: banner.$white;
        color: banner.$black;
      }
    }
    .btn2 {
      background-color: banner.$black;
      color: banner.$white;
      &.active {
        background-color: banner.$white;
        color: banner.$black;
      }
    }
  }
}
